@use "variables";

$grey_background: #e3e3e1;

.wrapper {
	background-color: $grey_background;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	padding-top: 20px;
	height: 50%;
	width: 90%;
	max-width: 700px;
}

.option_btn {
	background-color: transparent;
	border: none;
}

.logo {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 1.2rem;

	.wordle_logo {
		width: 85px;
		height: 85px;
		aspect-ratio: 1/1;
	}

	h2 {
		font-size: 3rem;
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-weight: bolder
	}
}

.banner {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 2rem;

	p {
		color: black;
		font-size: 1.6rem;
		font-weight: 100;
	}

	@media screen and (min-width: 750px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		p {
			font-size: 2rem;
			font-weight: lighter
		}
	}

	@media screen and (min-width: 1000px) {
		p {

			font-size: 2.6rem;
		}
	}
}

.option_btns {

	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	@media screen and (max-width: 750px) {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		gap: 8px;

		.option_btn {
			width: 140px;
			height: 40px;
		}
	}

	.option_btn {
		width: 180px;
		height: 45px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1rem;
		border: black solid thin;
		border-radius: 80px;
		font-family: "Clear Sans",
			"Helvetica Neue",
			Arial,
			sans-serif;
		font-size: 1rem;
		color: black;
		text-decoration: none;
	}

	.option_btn[data-play_btn] {
		background-color: black;
		color: white;
	}
}

.info_banner {
	margin-top: 2rem;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.2rem;
}